
<span class="wall NE" style="--y: 1; --x: 1;"></span>
<span class="wall NS" style="--y: 1; --x: 2;"></span>
<span class="wall NS" style="--y: 1; --x: 3;"></span>
<span class="wall NS" style="--y: 1; --x: 4;"></span>
<span class="wall NW" style="--y: 1; --x: 5;"></span>

<span class="wall WSE" style="--y: 2; --x: 1;"></span>
<span class="wall WSE" style="--y: 2; --x: 5;"></span>


<span class="wall NWE" style="--y: 4; --x: 1;"></span>
<span class="wall NWE" style="--y: 4; --x: 5;"></span>

<span class="wall SE" style="--y: 5; --x: 1;"></span>
<span class="wall NS" style="--y: 5; --x: 2;"></span>
<span class="wall NS" style="--y: 5; --x: 3;"></span>
<span class="wall NS" style="--y: 5; --x: 4;"></span>
<span class="wall WS" style="--y: 5; --x: 5;"></span>
