
<div class="box board">
	<span class="wall NE" style="--y: 0; --x: 0;"></span>
	<span class="wall N" style="--y: 0; --x: 1;"></span>
	<span class="wall N" style="--y: 0; --x: 2;"></span>
	<span class="wall N" style="--y: 0; --x: 3;"></span>
	<span class="wall N" style="--y: 0; --x: 4;"></span>
	<span class="wall N" style="--y: 0; --x: 5;"></span>
	<span class="wall NW" style="--y: 0; --x: 6;"></span>

	<span class="wall E" style="--y: 1; --x: 0;"></span>
	<span class="wall F" style="--y: 1; --x: 1;"></span>
	<span class="wall F" style="--y: 1; --x: 2;"></span>
	<span class="wall F" style="--y: 1; --x: 3;"></span>
	<span class="wall F" style="--y: 1; --x: 4;"></span>
	<span class="wall F" style="--y: 1; --x: 5;"></span>
	<span class="wall W" style="--y: 1; --x: 6;"></span>

	<span class="wall E" style="--y: 2; --x: 0;"></span>
	<span class="wall F" style="--y: 2; --x: 1;"></span>
	<span class="wall F" style="--y: 2; --x: 2;"></span>
	<span class="wall F" style="--y: 2; --x: 3;"></span>
	<span class="wall F" style="--y: 2; --x: 4;"></span>
	<span class="wall F" style="--y: 2; --x: 5;"></span>
	<span class="wall W" style="--y: 2; --x: 6;"></span>

	<span class="wall E" style="--y: 3; --x: 0;"></span>
	<span class="wall F" style="--y: 3; --x: 1;"></span>
	<span class="wall F" style="--y: 3; --x: 2;"></span>
	<span class="wall F" style="--y: 3; --x: 3;"></span>
	<span class="wall F" style="--y: 3; --x: 4;"></span>
	<span class="wall F" style="--y: 3; --x: 5;"></span>
	<span class="wall W" style="--y: 3; --x: 6;"></span>

	<span class="wall E" style="--y: 4; --x: 0;"></span>
	<span class="wall F" style="--y: 4; --x: 1;"></span>
	<span class="wall F" style="--y: 4; --x: 2;"></span>
	<span class="wall F" style="--y: 4; --x: 3;"></span>
	<span class="wall F" style="--y: 4; --x: 4;"></span>
	<span class="wall F" style="--y: 4; --x: 5;"></span>
	<span class="wall W" style="--y: 4; --x: 6;"></span>

	<span class="wall E" style="--y: 5; --x: 0;"></span>
	<span class="wall F" style="--y: 5; --x: 1;"></span>
	<span class="wall F" style="--y: 5; --x: 2;"></span>
	<span class="wall F" style="--y: 5; --x: 3;"></span>
	<span class="wall F" style="--y: 5; --x: 4;"></span>
	<span class="wall F" style="--y: 5; --x: 5;"></span>
	<span class="wall W" style="--y: 5; --x: 6;"></span>

	<span class="wall SE" style="--y: 6; --x: 0;"></span>
	<span class="wall S" style="--y: 6; --x: 1;"></span>
	<span class="wall S" style="--y: 6; --x: 2;"></span>
	<span class="wall S" style="--y: 6; --x: 3;"></span>
	<span class="wall S" style="--y: 6; --x: 4;"></span>
	<span class="wall S" style="--y: 6; --x: 5;"></span>
	<span class="wall WS" style="--y: 6; --x: 6;"></span>
</div>
