
<div class="box board" style="--bg-color: #369; --fg-filter: sepia(1) hue-rotate(85deg) saturate(1.5) brightness(.75);">
	<!-- PLAYER -->
	<div class="box player" style="--y: 3; --x: 1;"><i></i></div>

	<!-- BOXES -->
	<div class="box red" style="--y: 3; --x: 4;"></div>

	<!-- SPOTS -->
	<div class="void" style="--y: 5; --x: 5;"></div>
	<div class="exit" style="--y: 1; --x: 1;"><i></i></div>

	<!-- WALLS -->
	<span class="wall NE" style="--y: 0; --x: 0;"></span>
	<span class="wall NS" style="--y: 0; --x: 1;"></span>
	<span class="wall NS" style="--y: 0; --x: 2;"></span>
	<span class="wall NS" style="--y: 0; --x: 3;"></span>
	<span class="wall NS" style="--y: 0; --x: 4;"></span>
	<span class="wall NS" style="--y: 0; --x: 5;"></span>
	<span class="wall NW" style="--y: 0; --x: 6;"></span>

	<span class="wall WE" style="--y: 1; --x: 0;"><u class="NW-NE"></u></span>
	<span class="wall WE" style="--y: 1; --x: 6;"><u class="NE-NW"></u></span>

	<span class="wall WE" style="--y: 2; --x: 0;"></span>
	<span class="wall NWSE" style="--y: 2; --x: 2;"></span>
	<span class="wall NSE" style="--y: 2; --x: 4;"></span>
	<span class="wall NS" style="--y: 2; --x: 5;"></span>
	<span class="wall W" style="--y: 2; --x: 6;"><u class="NE-WS"></u></span>

	<span class="wall WE" style="--y: 3; --x: 0;"></span>
	<span class="wall WE" style="--y: 3; --x: 6;"><u class="NE-NW"></u></span>

	<span class="wall E" style="--y: 4; --x: 0;"></span>
	<span class="wall NS" style="--y: 4; --x: 1;"><u class="NE-ES"></u></span>
	<span class="wall NWS" style="--y: 4; --x: 2;"></span>
	<span class="wall NWSE" style="--y: 4; --x: 4;"></span>
	<span class="wall WE" style="--y: 4; --x: 6;"></span>

	<span class="wall WE" style="--y: 5; --x: 0;"><u class="NW-NE"></u></span>
	<span class="wall WE" style="--y: 5; --x: 6;"></span>

	<span class="wall SE" style="--y: 6; --x: 0;"></span>
	<span class="wall NS" style="--y: 6; --x: 1;"><u class="NE-ES"></u></span>
	<span class="wall NS" style="--y: 6; --x: 2;"></span>
	<span class="wall NS" style="--y: 6; --x: 3;"></span>
	<span class="wall NS" style="--y: 6; --x: 4;"></span>
	<span class="wall NS" style="--y: 6; --x: 5;"></span>
	<span class="wall WS" style="--y: 6; --x: 6;"><u class="NE-WS"></u></span>
</div>
