
<div class="box board" style="--bg-color: #369; --fg-color: #999;">
	<!-- PLAYER -->
	<div class="box player" style="--y: 2; --x: 3;"><i></i></div>

	<!-- BOXES -->
	<div class="box red" style="--y: 3; --x: 4;"></div>

	<!-- SPOTS -->
	<div class="spot" style="--y: 5; --x: 5;"></div>
	<div class="spot eyes" style="--y: 1; --x: 1;"><i></i></div>

	<!-- WALLS -->
	<span class="wall NE" style="--y: 0; --x: 0;"></span>
	<span class="wall NS RSE-S" style="--y: 0; --x: 1;"></span>
	<span class="wall NS" style="--y: 0; --x: 2;"></span>
	<span class="wall NS" style="--y: 0; --x: 3;"></span>
	<span class="wall NS" style="--y: 0; --x: 4;"></span>
	<span class="wall NS RSW-S" style="--y: 0; --x: 5;"></span>
	<span class="wall NW" style="--y: 0; --x: 6;"></span>

	<span class="wall WE" style="--y: 1; --x: 0;"></span>
	<span class="wall WE" style="--y: 1; --x: 6;"></span>

	<span class="wall WE" style="--y: 2; --x: 0;"></span>
	<span class="wall WE" style="--y: 2; --x: 6;"></span>

	<span class="wall WE" style="--y: 3; --x: 0;"></span>
	<span class="wall WE" style="--y: 3; --x: 6;"></span>

	<span class="wall WE" style="--y: 4; --x: 0;"></span>
	<span class="wall NWE" style="--y: 4; --x: 4;"></span>
	<span class="wall WE" style="--y: 4; --x: 6;"></span>

	<span class="wall WE" style="--y: 5; --x: 0;"></span>
	<span class="wall WE" style="--y: 5; --x: 4;"></span>
	<span class="wall WE" style="--y: 5; --x: 6;"></span>

	<span class="wall SE" style="--y: 6; --x: 0;"></span>
	<span class="wall NS RNE-N" style="--y: 6; --x: 1;"></span>
	<span class="wall NS" style="--y: 6; --x: 2;"></span>
	<span class="wall NS RNW-N" style="--y: 6; --x: 3;"></span>
	<span class="wall S" style="--y: 6; --x: 4;"></span>
	<span class="wall NS RNE-N RNW-N" style="--y: 6; --x: 5;"></span>
	<span class="wall WS" style="--y: 6; --x: 6;"></span>
</div>
