<content>
	<div class="board">
		<div class="box player jump" style="--y: 1; --x: 1;"><i></i></div>

		<div class="box blue" style="--y: 3; --x: 0;"></div>
		<div class="box yellow" style="--y: 3; --x: 1;"></div>
		<div class="box brown" style="--y: 3; --x: 2;"></div>
		<div class="box red" style="--y: 3; --x: 3;"></div>
		<div class="box green" style="--y: 3; --x: 4;"></div>

		<div class="spot" style="--y: 4; --x: 4;"></div>
		<div class="spot eyes" style="--y: 4; --x: 2;"><i></i></div>
	</div>
</content>
