<content data-mode="start">
	<div class="para-bg">
		<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
    </div>

	<div class="start-view">
		<h1>Parabox</h1>
	</div>

	<div class="game-view">
		<!-- level html goes here -->
	</div>

	<div class="editor-view" data-area="editor">
		<!-- level html goes here -->
	</div>

	<div class="congrats-view" data-click="close-congratulations">
		<h2>
			Congratulations!<br>
			You solved it
		</h2>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>
</content>
