<content>
	<div class="para-bg">
		<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
    </div >

	<div class="game-view">
		<!-- level html goes here -->
	</div>

	<div class="editor-view">
		<!-- level html goes here -->
		<!-- @import "./levels/edito1r-level.htm" -->
	</div>

	<div class="congrats-view" data-click="close-congratulations">
		<h2>
			Congratulations!<br>
			You solved it
		</h2>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>
</content>
