
.board.box {
	&[class*="grid-3"] {
		top: 210px;
		left: 210px;
		--size: 80px;
	}

	&[class*="grid-5"] {
		top: 122px;
		left: 122px;
		--size: 82px;
	}

	&[class*="grid-7"] {
		top: 62px;
		left: 62px;
		--size: 77px;

		.mini {
			&[class*="size-3"] {
				> span.wall {
					--size: 24px;
				}

				> .void,
				> .exit {
					--size: 22px;
					top: calc( calc( var( --y ) * var( --size ) ) + 4px );
					left: calc( calc( var( --x ) * var( --size ) ) + 2px );
					width: calc( var( --size ) - 2px );
					height: calc( var( --size ) - 2px );
				}
			}

			&[class*="size-5"] {
				> .void,
				> .exit,
				> span.wall {
					--size: 15px;
				}

				> div {
					&[style*="--x: 4;"] {
						margin-left: -1px;
					}
				}
			}

			&[class*="size-7"] {
				> span.wall {
					--size: 12px;
					top: calc( var( --y ) * calc( var( --size ) ) - var( --wT ) );

					&[style*="--x: 4;"] {
						width: 16px;
					}
				}
			}
		}
	}

	&[class*="grid-7"][data-level-id="2-4"] {
		top: 73px;
		left: 73px;
		--size: 74px;

		.mini {
			&[class*="size-5"] {
				> span.wall {
					--size: 14px;
					top: calc( var( --y ) * calc( var( --size ) ) - var( --wT ) );

					&[style*="--x: 4;"] {
						width: 16px;
					}
				}
			}
		}
	}

	&[class*="grid-7"][data-level-id="2-8"] {
		top: 75px;
		left: 75px;
		--size: 73px;

		.mini {
			u {
				&.NW-NE {
					top: -2px;
				}

				&.NE-NW {
					top: -2px;
				}
			}

			&[class*="size-7"] {
				> span.wall {
					--size: 10px;
					width: var( --size );
					height: calc( var( --size ) + 4px );
					top: calc( calc( var( --y ) * calc( var( --size ) ) - var( --wT ) ) + 1px );
				}

				> div {
					--size: 10px;
					top: calc(calc(var(--y) * var(--size)) - 2px);

					i {
						display: none;
					}
				}

				> .void,
				> .exit {
					--size: 10px;
					top: calc( calc( var( --y ) * var( --size ) ) + 2px );
					left: calc( var( --x ) * var( --size ) );
					width: calc( var( --size ) - 2px );
					height: calc( var( --size ) - 2px );
				}
			}
		}
	}

	&[class*="grid-9"][data-level-id="2-9"] {
		top: 36px;
		left: 34px;
		--size: 66px;

		.mini {
			u {
				&.NW-NE {
					top: -2px;
				}

				&.NE-NW {
					top: -2px;
				}
			}

			&[class*="size-9"] {
				--bR: 3px;

				> span.wall {
					height: calc( var( --size ) + 4px );
					top: calc( calc( var( --y ) * calc( var( --size ) ) + 1px ) - var( --wT ) );
				}
			}
		}
	}

	&[class*="grid-9"][data-level-id="3-2"] {
		top: 35px;
		left: 32px;
		--size: 66px;

		.mini {
			&[class*="size-3"] {
				> span.wall {
					--size: 21px;
					top: calc( calc( var( --y ) * calc( var( --size ) ) - 1px ) - var( --wT ) );

					&[style*="--x: 2;"] {
						width: calc( var(--size) + 1px );
					}
				}

				> div {
					--size: 21px;

					i {
						display: none;
					}

					&[style*="--y: 2;"] {
						margin-top: 2px;
					}
				}

				> .void,
				> .exit {
					--size: 19px;
					top: calc( calc( var( --y ) * var( --size ) ) + 6px );
					left: calc( calc( var( --x ) * var( --size ) ) + 2px );
					width: calc( var( --size ) - 2px );
					height: calc( var( --size ) - 2px );
				}
			}

			&[class*="size-7"] {
				> span.wall {
					--size: 9px;
					top: calc( calc( var( --y ) * calc( var( --size ) ) + 1px ) - var( --wT ) );
				}
			}
		}
	}

	&[class*="grid-9"][data-level-id="3-5"],
	&[class*="grid-9"][data-level-id="3-6"],
	&[class*="grid-9"][data-level-id="3-7"],
	&[class*="grid-9"][data-level-id="3-8"],
	&[class*="grid-9"][data-level-id="3-9"] {
		top: 35px;
		left: 32px;
		--size: 66px;

		.mini {
			&[class*="size-9"] {
				--bR: 3px;

				> span.wall {
					top: calc( calc( var( --y ) * calc( var( --size ) ) - 1px ) - var( --wT ) );
				}
			}
		}
	}

	&[class*="grid-9"] {
		top: 50px;
		left: 50px;
		--size: 62px;

		.mini {
			&[class*="size-3"] {
				> span.wall {
					--size: 20px;
				}
				
				> div {
					&[style*="--x: 2;"] {
						margin-left: -1px;
					}

					&[style*="--y: 2;"] {
						margin-top: 1px;
					}
				}

				> .void,
				> .exit {
					--size: 18px;
					top: calc( calc( var( --y ) * var( --size ) ) + 4px );
					left: calc( calc( var( --x ) * var( --size ) ) + 2px );
					width: calc( var( --size ) - 2px );
					height: calc( var( --size ) - 2px );
				}
			}

			&[class*="size-5"] {
				> .void,
				> .exit,
				> span.wall {
					--size: 12px;
					height: calc( var( --size ) + 4px );
					top: calc( var( --y ) * calc( var( --size ) ) - var( --wT ) );
				}

				> div {
					&[style*="--x: 4;"] {
						margin-left: -1px;
					}
				}
			}

			&[class*="size-7"] {
				> .void,
				> .exit,
				> span.wall {
					--size: 10px;
				}
			}

			&[class*="size-9"] {
				--bR: 3px;

				> span.wall {
					--size: 7px;
				}

				> div {
					--size: 7px;

					i {
						display: none;
					}
				}

				> .void,
				> .exit {
					--bR: 1px;
					--size: 7px;
					top: calc( calc( var( --y ) * var( --size ) ) + 1px );
					left: calc( var( --x ) * var( --size ) );
					width: calc( var( --size ) - 2px );
					height: calc( var( --size ) - 2px );
				}
			}
		}
	}

	&[class*="grid-11"] {
		top: 23px;
		left: 23px;
		--size: 56px;

		.mini {
			&[class*="size-3"] {
				> .void,
				> .exit,
				> span.wall {
					--size: 18px;
				}
			}
		}
	}
}
