
	.editor-view {
		opacity: 0;
		visibility: hidden;
		border-radius: inherit;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		
		.box.board:hover .ghost {
			display: block;
		}

		.box.board {
			.wall {
				// pointer-events: none;
				
				&:hover:before {
					display: block;
				}

				&:before {
					content: "";
					display: none;
					position: absolute;
					top: 7px;
					left: 7px;
					right: 7px;
					bottom: 7px;
					border-radius: 5px;
					background: #a44;
				}

				&[class*="S"]:before {
					bottom: 15px;
				}
			}
		}
	}
