
content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background: rgba(#000,.15);

	.board {
		position: absolute;
		--bg-color: rgba(#248,.5);
		--fg-color: #f90;
		--w: 7;
		--h: 7;
		--mX: 6;
		--mY: 6;
		--y: 1;
		--x: 1;
		--bR: 9px;
		--c: 79px;

		&.box {
			top: 35px;
			left: 35px;
			background: var( --bg-color );
			width: calc( var( --c ) * var( --w ) );
			height: calc( calc( var( --c ) * var( --h ) ) + 6px );
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175),
						0 0 9px rgba(#000,.35);

			&:before {
				opacity: .25;
				top: 9px;
				border-top: 1px solid rgba(#000,.75);
				box-shadow: 0px -9px 0px 0px rgba(#000,.25);
				background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.8), transparent);
				// background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.8), transparent),
				// 					repeating-linear-gradient(0deg, transparent 0, transparent calc( var( --c ) - 1px ), #111 calc( var( --c ) - 1px ), #111 var( --c )),
				// 					repeating-linear-gradient(90deg, transparent 0, transparent calc( var( --c ) - 1px ), #111 calc( var( --c ) - 1px ), #111 var( --c ));
			}

			&:after {
				opacity: .35;
			}
		}

		> div {
			position: absolute;
			top: calc( calc( var( --y ) * var( --c ) ) - 17px );
			left: calc( calc( var( --x ) * var( --c ) ) - 1px );

			// &.player { display: none; }
			// &.box:not(.player) { display: none; }
			// &.spot { display: none; }
		}

		> span {
			// &.wall { display: none; }
		}
	}

	.box {
		z-index: var( --y );
		width: var( --c );
		height: calc( var( --c ) + 11px );
		background: var( --color );
		box-shadow: inset 0px -9px 0px 0px rgba(#000,.175),
					inset 0 0 1px rgba(#fff,.5),
					0 0 9px rgba(#000,.35);
		border-radius: 9px;
		border: 2px solid rgba(#000,.65);

		&.blue   { --color: #17b; }
		&.yellow { --color: #c70; }
		&.brown  { --color: #950; }
		&.red    { --color: #b33; }
		&.green  { --color: #171; }

		&:before {
			content: "";
			background-image: radial-gradient(ellipse at bottom center, rgba(#fff,.8), transparent);
			position: absolute;
			top: 9px;
			left: 0;
			right: 0;
			bottom: 9px;
			border-radius: inherit;
			border-top: 1px solid rgba(#111,.4);
			pointer-events: none;
			mix-blend-mode: soft-light;
		}

		&:after {
			content: "";
			background-image: linear-gradient(90deg, transparent, rgba(#fff,.65), transparent);
			position: absolute;
			left: 9px;
			right: 9px;
			bottom: 9px;
			height: 1px;
			mix-blend-mode: soft-light;
			pointer-events: none;
		}
	}

	div.player {
		--color: #9d02bd;
		z-index: calc( var( --y ) + 1 );
		transition: all 180ms ease-in-out;

		&.jump {
			animation: jump 1200ms ease-in-out;
		}

		i {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 21px;
				width: 13px;
				height: 13px;
				border-radius: 13px;
				background: rgba(#000,.6);
			}

			&:before {
				left: 14px;
				animation: wink 6s ease-in-out infinite,
							vert-left 19s ease-in-out infinite,
							hori 17s ease-in-out infinite;
			}

			&:after {
				right: 14px;
				animation: wink 6s ease-in-out infinite,
							vert-right 19s ease-in-out infinite,
							hori 17s ease-in-out infinite;
			}
		}
	}

	div.spot {
		top: calc( calc( var( --y ) * var( --c ) ) - 2px );
		left: calc( calc( var( --x ) * var( --c ) ) + 4px );
		height: calc( var( --c ) - 10px );
		width: calc( var( --c ) - 10px );
		z-index: 1;
		border-radius: 11px;
		border: 4px solid rgba(#000,.35);

		&:before,
		&:after {
			content: "";
			background-image: linear-gradient(90deg, transparent, rgba(#fff,.15), transparent);
			position: absolute;
			left: 7px;
			right: 7px;
			top: 0;
			height: 1px;
		}

		&:after {
			top: auto;
			left: 0;
			right: 0;
			bottom: -5px;
		}

		&.eyes i {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 19px;
				left: 11px;
				width: 11px;
				height: 11px;
				border-radius: 11px;
				background: rgba(#000,.35);
				box-shadow: 0 1px 0 rgba(#fff,.125);
			}

			&:after {
				left: auto;
				right: 11px;
			}
		}
	}

	.wall {
		position: absolute;
		top: calc( calc( var( --y ) * calc( var( --c ) ) - 2px ) - 12px );
		left: calc( var( --x ) * calc( var( --c ) ) - 2px );
		width: var( --c );
		height: var( --c );
		z-index: var( --y );
		background: var( --fg-color );
		// opacity: .65;
		border: 2px solid rgba(#000,.95);
		backdrop-filter: blur(7px);

		&:after {
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			right: 0;
			bottom: 9px;
			border-radius: inherit;
			mix-blend-mode: soft-light;
			pointer-events: none;
		}
		
		// north east
		&.NE {
			border-width: 2px 0 0 2px;
			border-radius: var( --bR ) 0 0 0;

			&:after {
				border-top: 1px solid rgba(#000,.35);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}
		}

		// north
		&.N {
			border-width: 2px 0 0 0;
			border-radius: 0;

			&:after {
				border-top: 1px solid rgba(#000,.35);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}
		}

		// north west
		&.NW {
			border-width: 2px 2px 0 0;
			border-radius: 0 var( --bR ) 0 0;

			&:after {
				border-top: 1px solid rgba(#000,.35);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}
		}

		// north south east
		&.NSE {
			height: calc( var( --c ) + 6px );
			border-width: 2px 0 2px 2px;
			border-radius: var( --bR ) 0 0 var( --bR );
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after {
				border-top: 1px solid rgba(#000,.35);
				border-bottom: 1px solid rgba(#fff,.65);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}
		}

		// north south
		&.NS {
			height: calc( var( --c ) + 6px );
			border-width: 2px 0 2px 0;
			border-radius: 0;
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after {
				border-top: 1px solid rgba(#000,.35);
				border-bottom: 1px solid rgba(#fff,.65);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}

			&.RSE-S {
				z-index: calc( var( --y ) + 2 );

				&:before {
					content: "";
					position: absolute;
					bottom: -5px;
					left: -2px;
					width: 6px;
					height: 15px;
					background: red;
				}
			}

			&.RSW-S {
				z-index: calc( var( --y ) + 2 );

				&:before {
					content: "";
					position: absolute;
					bottom: -5px;
					right: -2px;
					width: 6px;
					height: 15px;
					background: red;
				}
			}

			&.RNE-N {
				z-index: calc( var( --y ) + 2 );

				&:after {
					left: 4px;
				}

				&:before {
					content: "";
					position: absolute;
					top: -6px;
					left: -2px;
					width: 6px;
					height: 78px;
					background: url(~/icons/neg-rne-n.png) 0px 0px no-repeat;
					background-size: 6px 78px;
				}
			}

			&.RNW-N {
				z-index: calc( var( --y ) + 2 );

				&:after {
					right: 4px;
				}

				&:before {
					content: "";
					position: absolute;
					top: -6px;
					right: -2px;
					width: 6px;
					height: 78px;
					background: url(~/icons/neg-rnw-n.png) 0px 0px no-repeat;
					background-size: 6px 78px;
				}
			}
		}

		// north west south
		&.NWS {
			height: calc( var( --c ) + 6px );
			border-width: 2px 2px 2px 0;
			border-radius: 0 var( --bR ) var( --bR ) 0;
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after {
				border-top: 1px solid rgba(#000,.35);
				border-bottom: 1px solid rgba(#fff,.65);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}
		}

		// north west east
		&.NWE {
			border-width: 2px 2px 0 2px;
			border-radius: var( --bR ) var( --bR ) 0 0;

			&:after {
				border-top: 1px solid rgba(#000,.35);
				box-shadow: 0px -9px 0px 0px rgba(#000,.2);
			}
		}

		// full
		&.F {
			border-width: 0;
			border-radius: 0;
		}

		// east
		&.E {
			border-width: 0 0 0 2px;
			border-radius: 0;
		}

		// west
		&.W {
			border-width: 0 2px 0 0;
			border-radius: 0;
		}

		// west east
		&.WE {
			border-width: 0 2px 0 2px;
			border-radius: 0;
		}

		// west south east
		&.WSE {
			height: calc( var( --c ) + 6px );
			border-width: 0 2px 2px 2px;
			border-radius: 0 0 var( --bR ) var( --bR );
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after { border-bottom: 1px solid rgba(#fff,.65); }
		}

		// south
		&.S {
			height: calc( var( --c ) + 6px );
			border-width: 0 0 2px 0;
			border-radius: 0;
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after { border-bottom: 1px solid rgba(#fff,.65); }
		}

		// south east
		&.SE {
			height: calc( var( --c ) + 6px );
			border-width: 0 0 2px 2px;
			border-radius: 0 0 0 var( --bR );
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after { border-bottom: 1px solid rgba(#fff,.65); }
		}

		// west south
		&.WS {
			height: calc( var( --c ) + 6px );
			border-width: 0 2px 2px 0;
			border-radius: 0 0 var( --bR ) 0;
			box-shadow: inset 0px -9px 0px 0px rgba(#000,.175);

			&:after { border-bottom: 1px solid rgba(#fff,.65); }
		}
	}
}

@keyframes jump {
	0%   { transform: translateY(0) translateX(0); height: 103px; width: 97px; }
	15%  { transform: translateY(13px) translateX(-10px); height: 90px; width: 107px; }
	35%  { transform: translateY(-43px) translateX(5px); height: 103px; width: 87px; }
	50%  { transform: translateY(0) translateX(0); height: 103px; width: 97px; }
	100% { transform: translateY(0) translateX(0); height: 103px; width: 97px; }
}


@keyframes vert-left {
	0%    { margin-left: 0; }
	15%   { margin-left: 0; }
	16%   { margin-left: -6px; }
	30%   { margin-left: -6px; }
	31%   { margin-left: 6px; }
	50%   { margin-left: 6px; }
	51%   { margin-left: 0px; }
	78%   { margin-left: 0px; }
	79%   { margin-left: 3px; }
	80%   { margin-left: 3px; }
	100%  { margin-left: 0; }
}

@keyframes vert-right {
	0%    { margin-right: 0; }
	15%   { margin-right: 0; }
	16%   { margin-right: 6px; }
	30%   { margin-right: 6px; }
	31%   { margin-right: -6px; }
	50%   { margin-right: -6px; }
	51%   { margin-right: 0px; }
	78%   { margin-right: 0px; }
	79%   { margin-right: -3px; }
	80%   { margin-right: -3px; }
	100%  { margin-right: 0; }
}

@keyframes hori {
	0%    { transform: translateY(5px); }
	15%   { transform: translateY(5px); }
	16%   { transform: translateY(-3px); }
	30%   { transform: translateY(-3px); }
	31%   { transform: translateY(0px); }
	50%   { transform: translateY(0px); }
	51%   { transform: translateY(0px); }
	78%   { transform: translateY(0px); }
	79%   { transform: translateY(7px); }
	80%   { transform: translateY(7px); }
	100%  { transform: translateY(5px); }
}

@keyframes wink {
	0%   { height: 13px; border-radius: 13px; margin-top: 0; }
	49%  { height: 13px; border-radius: 13px; margin-top: 0; }
	49.1%  { height: 5px; border-radius: 5px; margin-top: 7px; }
	50.9%  { height: 5px; border-radius: 5px; margin-top: 7px; }
	51%  { height: 13px; border-radius: 13px; margin-top: 0; }
	100% { height: 13px; border-radius: 13px; margin-top: 0; }
}
